section{
     padding: 100px 9%;
}
.home{
     background-color:rgba(229, 84, 115, 0.10) ;
     display: flex;
     align-items: center;
     width: 1920px;
     height:790px;
     justify-content: space-between ;

     
}
.content{
     margin-left: 200px;
}
.content-title{
     color: #272727;
     
     font-size: 90px;
     font-style: normal;
     font-weight: 800;
     line-height: normal;
}
.banner-disc{
     font-size: 25px;
     color: #272727;
     font-weight: 400;
     line-height:20px;
     margin-top: 25px;
     margin-bottom: 30px;
}
a{
    
     font-size: 30px;
     font-weight: 600px;
     color: rgb(255, 243, 243);
     background-color: rgb(243, 148, 163);
     padding: 20px 40px;
     border-radius: 5px;
     text-decoration: none;
     margin-top:40px;
    

}
.img-content{
     width: 640px;
     height: 650px;
     margin-right: 200px;
     margin-top: 40px;
     position:bottom right;
     margin-bottom:0px;
}
.about-info .about-info-title{
     font-size: 60px;
    font-weight: 800;
    color: #282828;
}
.about-info{
    text-align: center;
    margin-top: 100px;
}
.about-info-disc{
     font-size: 30px;
     width: 750px;
     height: 100px;
     font-weight: 400px;
     color: #3e3c3c;
     margin-top:20px;
     margin:0 auto;
}
.items{
     display: flex;
     gap: 30px;
     justify-content: center;
     width: 650;
     height: 700;
     margin-top: 120px;
    
}
.item{
     width: 480px;
     height: 500px;
     background-color: rgb(221, 236, 169);
     border-radius: 50%  50% 0 0;
     position: relative;
     
}
.item1{
     width: 480px;
     height: 500px;
     background-color: rgb(173, 243, 243);
     border-radius: 50%  50% 0 0;
     position: relative;
}
.item2{
     margin-top: 0%;
     width: 480px;
     height: 500px;
     background-color: rgb(240, 207, 239);
     border-radius: 50%  50% 0 0;
     position: relative;

}
.image{
     width:300px ;
     height:400px;
     justify-content: center;
}
.image1{
     width:300px ;
     height:400px;
     justify-content: center;
}
.image2{
     width:300px ;
     height:400px;
     justify-content: center;
}
