section{
     padding: 100px 9%;
}
.home{
     background-color:rgba(229, 84, 115, 0.10) ;
     display: flex;
     align-items: center;
     width: 1920px;
     height:790px;
     justify-content: space-between ;

     
}
.content{
     margin-left: 200px;
}
.content-title{
     color: #272727;
     
     font-size: 90px;
     font-style: normal;
     font-weight: 800;
     line-height: normal;
}
.banner-disc{
     font-size: 25px;
     color: #272727;
     font-weight: 400;
     line-height:20px;
     margin-top: 25px;
     margin-bottom: 30px;
}
a{
    
     font-size: 30px;
     font-weight: 600px;
     color: rgb(255, 243, 243);
     background-color: rgb(243, 148, 163);
     padding: 20px 40px;
     border-radius: 5px;
     text-decoration: none;
     margin-top:40px;
    

}
.img-content{
     width: 640px;
     height: 650px;
     margin-right: 200px;
     margin-top: 40px;
     position:bottom right;
     margin-bottom:0px;
}
.about-info .about-info-title{
     font-size: 60px;
    font-weight: 800;
    color: #282828;
}
.about-info{
    text-align: center;
    margin-top: 100px;
}
.about-info-disc{
     font-size: 30px;
     width: 750px;
     height: 100px;
     font-weight: 400px;
     color: #3e3c3c;
     margin-top:20px;
     margin:0 auto;
}
.items{
     display: flex;
     gap: 30px;
     justify-content: center;
     width: 1220px;
     width: 450px;
     margin: 0 auto;
}
.items .item3{
     width: 400px;
     justify-content: space-around;
     height: 500px;
     background-color: rgb(229, 229, 155);
     border-radius: 300px 300px 0 0 ;
     margin-top: 40px;
}
.items .item2{
     width: 400px;
     justify-content: space-around;
     height: 500px;
     background-color: rgb(138, 232, 212);
     border-radius: 300px 300px 0 0 ;
     margin-top: 40px;
}

.items .item1{
     width: 400px;
     justify-content: space-around;
     height: 500px;
     background-color: rgba(232, 155, 248, 0.948);
     border-radius: 300px 300px 0 0 ;
     margin-top: 40px;
}
.items p{
     text-align: center;
     text-decoration-line: underline;
     font-size: 25px;
     padding: 5px;
     margin-top: 35px;
}